{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include 'partials/_meta.html' %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
      <div class="regist">
        <div class="row">
          <div class="col-8">
            <div class="logo-wrap">
              <div class="wrap">
                <img src="{% static '/images/logo/logo.svg' %}" alt="logo" />
                <p>쇠고기 근내지방 섬세지수 정보 연구</p>
                <img src="{% static '/images/heart.png' %}" alt="img-heart">
              </div>
              <div class="video-wrap">
                <video src="{% static '/images/login.mp4' %}" autoplay muted playsinline poster="{% static '/images/login.png' %}" class="regist-bg"></video>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-wrap">
              <div>
                <h3>회원가입</h3>
                {% if messages %}
                  <div class="message-container">
                    {% for message in messages %}
                      <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
                <form action="{% url 'signup' %}" method="post">
                  {% csrf_token %}
                  <div class="input-wrap">
                    <label class="ta-label" for="username">아이디</label>
                    <input class="ta-form" type="text" id="username" name="username" placeholder="아이디를 입력해주세요.">
                    <p class="invalid-feedback">아이디를 확인해주세요.</p>
                  </div>
                  <div class="input-wrap">
                    <label class="ta-label" for="password">비밀번호</label>
                    <input class="ta-form" type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요.">
                    <p class="invalid-feedback">비밀번호를 확인해주세요.</p>
                  </div>
                  <div class="input-wrap">
                    <label class="ta-label" for="passwordCheck">비밀번호 확인</label>
                    <input class="ta-form" type="password" id="passwordCheck" name="passwordCheck" placeholder="비밀번호를 입력해주세요.">
                    <p class="invalid-feedback">비밀번호가 같지 않습니다.</p>
                  </div>
                  <div class="input-wrap">
                    <label class="ta-label" for="name">이름</label>
                    <input class="ta-form" type="text" id="name" name="name" placeholder="이름를 입력해주세요.">
                    <p class="invalid-feedback">비밀번호를 확인해주세요.</p>
                  </div>
                  <div class="input-wrap">
                    <label class="ta-label" for="email">이메일</label>
                    <input class="ta-form" type="email" id="email" name="email" placeholder="이메일를 입력해주세요.">
                    <p class="invalid-feedback">비밀번호를 확인해주세요.</p>
                  </div>
                  <div class="input-wrap">
                    <label class="ta-label" for="organization">기관정보(소속)</label>
                    <input class="ta-form" type="text" id="organization" name="organization" placeholder="기관정보를 입력해주세요.">
                    <p class="invalid-feedback">비밀번호를 확인해주세요.</p>
                  </div>
                  <div class="input-wrap">
                    <label class="ta-label" for="field">분야</label>
                    <div class="ta-radio-wrap-group">
                      <div class="ta-radio-wrap">
                        <input type="radio" name="radio" id="radio_1" value="consumer" class="sr-only" />
                        <label for="radio_1">소비자</label>
                      </div>
                      <div class="ta-radio-wrap">
                        <input type="radio" name="radio" id="radio_2" value="evaulator" class="sr-only" />
                        <label for="radio_2">평가자</label>
                      </div>
                      <div class="ta-radio-wrap">
                        <input type="radio" name="radio" id="radio_3" value="distributor" class="sr-only" />
                        <label for="radio_3">유통관련 종사자</label>
                      </div>
                      <div class="ta-radio-wrap">
                        <input type="radio" name="radio" id="radio_4" value="analyst" class="sr-only" />
                        <label for="radio_4">분석가</label>
                      </div>
                    </div>
                  </div>
                  
                  <button type="submit" class="btn btn-primary btn-lg btn-block mt-30">가입신청</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'partials/_script.html' %}
    </script>
  </body>
</html>
