<!-- vendor -->
<script type="text/javascript" src="/js/vendors.fed.js"></script>
<script type="text/javascript" src="/js/main.fed.js"></script>
<!-- jquery ui -->
<script type="text/javascript" src="/lib/jquery-ui.min.js"></script>
<!-- adminmart -->
<script type="text/javascript" src="/lib/app-style-switcher.min.js"></script>
<script type="text/javascript" src="/lib/feather.min.js"></script>
<script type="text/javascript" src="/lib/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="/lib/sidebarmenu.min.js"></script>
<script type="text/javascript" src="/lib/datatables.min.js"></script>

<script type="text/javascript" src="/lib/custom.min.js"></script>

<!-- custom -->
<script type="text/javascript" src="/js/custom.fed.js"></script>
