<header class="topbar" data-navbarbg="skin6">
  <nav class="navbar top-navbar navbar-expand-md">
    <div class="navbar-header" data-logobg="skin6">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div class="navbar-brand">
        <!-- Logo icon -->
        <a href="/index.html">
          <img src="/images/incoEDU_logo.png" alt="homepage" class="dark-logo" />
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
    </div>
    
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <h2>데이터 큐레이션</h2>
      <div class="tab-button-wrap">
        <div class="btn tab-btn active">데이터 평가</div>
        <div class="btn tab-btn">평가 이력</div>
      </div>
    </div>
  </nav>
</header>
