{% load static %}

<!-- vendor -->
<script type="text/javascript" src="{% static '/js/vendors.fed.js' %}"></script>
<script type="text/javascript" src="{% static '/js/main.fed.js' %}"></script>
<!-- jquery ui -->
<script type="text/javascript" src="{% static '/lib/jquery-ui.min.js' %}"></script>
<!-- adminmart -->
<script type="text/javascript" src="{% static '/lib/app-style-switcher.min.js' %}"></script>
<script type="text/javascript" src="{% static '/lib/feather.min.js' %}"></script>
<script type="text/javascript" src="{% static '/lib/perfect-scrollbar.jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static '/lib/sidebarmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static '/lib/datatables.min.js' %}"></script>

<script type="text/javascript" src="{% static '/lib/custom.min.js' %}"></script>

<!-- custom -->
<script type="text/javascript" src="{% static '/js/custom.fed.js' %}"></script>
